<app-header></app-header>
<br><br>    
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="text-left logo p-2 px-5"> <img src="../../assets/images/logo.jpg" width="50"> </div>
                <div class="invoice p-5"  *ngFor="let cust of customer | async">
                    <h5>Your order Confirmed!</h5> <span class="font-weight-bold d-block mt-4">Hello, {{cust.custName}}</span>
                    <span>Your order has been confirmed and will be shipped in next two hours!</span>
                   
                    <hr>
                    
                    
                    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p> <span>Home Bakery</span>
                </div>
                
               
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>