
<div class="container-fluid mt-5 bg-light" style="width: 1200px; ">
    <form  method="post" (ngSubmit)="passwordUpdate()">
        <img src="../../assets/images/logo.jpg" class="rounded float-right" alt="..." width="150" height="120">


        <h3 class="pt-3">Password Update</h3>

        <p class="pt-2 mb-5 "> Please fill in this form to update your password.</p>
        <hr>

        

        <div class="form-group">
            <label for="exampleInputUserName1">User name</label>
            <input type="text" class="form-control" id="custUserName" placeholder="Enter user name"
            [(ngModel)]="model.name" name="name">
        </div>

        

        <div class="form-group">
            <label>Security Question</label>
            <input type="text" class="form-control" id="custPhone" placeholder="Enter your favorite color"
                [(ngModel)]="model.answer" name="answer">
               
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">New Password</label>
            <input type="password" class="form-control" id="custPassword" placeholder="Password"
            [(ngModel)]="model.password" name="password">
        </div>
       
        <div class="pb-4 d-flex justify-content-end">
            <button  type="submit" class="btn btn-primary">Submit</button>

        </div>

    </form>

</div>