<app-header></app-header>
<br><br>
<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>Shopping Cart</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered m-0">
                    <thead>
                        <tr>
                            <!-- Set columns width -->
                            <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details
                            </th>
                            <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                            <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                            <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#"
                                    class="shop-tooltip float-none text-light" title=""
                                    data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let cart of carts | async">
                            <td class="p-4">
                                <div class="media align-items-center">
                                    <img src="{{cart.image}}"
                                        class="d-block ui-w-40 ui-bordered mr-4" alt="" height="100px">
                                    <div class="media-body">
                                        {{cart.prodName}}

                                    </div>
                                </div>
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4">{{cart.pricePerKg}}</td>
                            <td class="align-middle p-4 " style="text-align: center;">{{cart.orderQuantity}}
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4">{{cart.orderPrice}}</td>
                            <td class="text-center align-middle px-0"><a (click)="deleteOrderDetails(cart.prodId)"
                                    class="shop-tooltip close float-none text-danger" title=""
                                    data-original-title="Remove">×</a></td>
                                   
                        </tr>

                        

                    </tbody>
                </table>
            </div>

            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4" *ngFor="let ord of order | async">
                <div class="mt-4">
                    
                </div>
                <div class="d-flex">
                    
                    <div class="text-right mt-4">
                        <label class="text-muted font-weight-normal m-0">Total price</label>
                        <div class="text-large"><strong>Rs {{ord.total}}</strong></div>
                    </div>
                </div>
            </div>

            
        

            <div class="float-right">
                
                <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3" routerLink="/home">Back to shopping</button>
             <button type="button" class="btn btn-lg btn-primary mt-2" (click)="logout()" >Checkout</button>
            </div>

            

        </div>
    </div>
</div>

<app-footer></app-footer>